<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header(~{::title},~{::link},~{})">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/system.css}">
</head>
<body>
<div class="">
    <ul class="layui-nav layui-bg-green headerul" lay-filter="">
        <li class="layui-nav-item"><a href="#" th:href="@{/req/index}">首页</a></li>
        <li class="layui-nav-item"><a href="threshold.html" th:href="@{/req/threshold}">阈值配置</a></li>
        <li class="layui-nav-item"><a href="monitor.html" th:href="@{/req/monitor}">监控数据查看</a></li>
        <li class="layui-nav-item"><a href="system.html" th:href="@{/req/system}">系统管理</a></li>
        <li class="layui-nav-item"><a href="#" th:href="@{/req/deadthread}">死锁检测</a></li>
        <li class="layui-nav-item layui-this"><a href="#" th:href="@{/req/audiorecord}">报警记录查看</a></li>
    </ul>

    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div><img th:src="@{/images/7.jpg}"></div>
            <div><img th:src="@{/images/7.jpg}"></div>
            <div><img th:src="@{/images/7.jpg}"></div>
        </div>
    </div>
</div>

<div class="layui-container">

    <div class="layui-row">
        <div class="layui-col-md3 side-header">
            <ul class="layui-nav layui-nav-tree layui-bg-green" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class="layui-nav-item"><a href="#" th:href="@{/req/system}">已监控系统</a></li>
                <li class="layui-nav-item layui-this"><a href="">报警记录</a></li>
            </ul>

        </div>
        <div class="layui-col-md9">
            <!--当前位置-->
            <div class="content-location">
                <span class="layui-breadcrumb" lay-separator="/">
                  <a href="">监控平台</a>
                  <a href="">报警记录</a>
                </span>
            </div>
            <hr/>

            <div class="content-system-table">
                <div class="layui-input-block input-div">
                    <input type="text" name="system" id="systemName" required lay-verify="required" placeholder="系统名" autocomplete="off" class="layui-input input">
                    <button type="button" class="layui-btn" id="search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>系统名</th>
                        <th>报警时间</th>
                        <th>监控类型</th>
                        <th>报警属性</th>
                        <th>当前值</th>
                        <th>阈值</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div id="page"></div>
            </div>
        </div>
    </div>
</div>

<!-- 引入footer及公用footer -->
<div th:replace="footer::footer"></div>
<script th:src="@{/layui/lay/modules/layer.js}"></script>
<script>

    //记录总条数,-1为首次加载或非分页触发的加载数据
    var total = -1;

    //获得搜索条件
    var systemName = null;
    //搜索
    $("#search").click(function(){
        systemName = $('#systemName').val();
        total = -1;
        showRecord(1,10, systemName);
    });
    /**
     * 初始化加载首页十条数据
     */
    showRecord(1,10, systemName);

    function showRecord(pageNo, pageSize, systemName){
        $('tbody').empty();
        $.get("/audiorecord/select",{
                pageNum:pageNo,
                pageSize:pageSize,
                systemName: systemName
            }, function (date) {
                //加载后台返回的List集合数据
                var record = date.records;
                if (total === -1) {
                    total = date.total;
                    page();
                } else {
                    total = date.total;
                }
                for (var i = 0; i < record.length; i++) {
                    var td = $("<td></td>").text(record[i].id);
                    var td2 = $("<td></td>").text(record[i].system);
                    var td3 = $("<td></td>").text(getFormatDate(record[i].currTime));
                    var td4 = $("<td></td>").text(record[i].audioType);
                    var td5 = $("<td></td>").text(record[i].audioKey);
                    var td6 = $("<td></td>").text(record[i].nowValue);
                    var td7 = $("<td></td>").text(record[i].thresholdValue);
                    var td8 = "<td><button type=\"button\" class=\"layui-btn layui-btn-xs\" onclick=\"deleteRecord(" + record[i].id + ")\">\n" +
                        "                                <i class=\"layui-icon\">&#xe640;</i>\n" +
                        "                            </button></td>";
                    var tr = $("<tr></tr>").append(td, td2, td3, td4, td5, td6, td7, td8);
                    $('tbody').append(tr);
                }
            },
            "json"
        );
    }
    function page() {
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'page'
                ,limit: 10
                ,count: total //数据总数，从服务端得到
                ,layout:['limit', 'prev', 'page', 'next']
                ,limits: [10, 20, 30]
                ,jump: function (obj, first) { //obj为当前页的属性和方法，第一次加载first为true
                    //非首次加载 do something
                    if (!first) {
                        //重新加载搜索条件
                        var systemName = $('#systemName').val();
                        //调用加载函数加载数据
                        showRecord(obj.curr,obj.limit, systemName);
                    }
                }
            });
        });
    }

    //删除
    function deleteRecord(id) {
        $.post("/audiorecord/delete/" + id, {}, function (data) {
            if (data === true) {
                layer.msg("删除成功");
            } else {
                layer.msg("删除失败");
            }
        });
        systemName = $('#systemName').val();
        total = -1;
        showRecord(1, 10, systemName);
    }

    function getFormatDate(date) {
        var time = date.split("T");
        return time[0] + " " + time[1].split(".")[0];
    }

</script>
</body>
</html>